<html lang=ja>
  <head>
    <title>Hashlog</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900' %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css' %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <meta name="keywords" content="Hashlog, ハッシュログ, Twitter, ツイッター, ハッシュタグ, 学習記録, 今日の積み上げ, 駆け出しエンジニア" />
    <meta name="description" content="Hashlogは、ハッシュタグを登録するだけであなたの継続を可視化する、Twitter連携型 学習記録サービスです。学習の振り返り、頑張りの可視化、ツイートのポートフォリオ化ができます。">

    <meta property="og:url" content="https://hashlog.work" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Hashlog（ハッシュログ） - あなたの継続を可視化できる Twitter連携型 学習記録サービス" />
    <meta property="og:description" content="Hashlogは、ハッシュタグを登録するだけであなたの継続を可視化する、Twitter連携型 学習記録サービスです。学習の振り返り、頑張りの可視化、ツイートのポートフォリオ化ができます。" />
    <meta property="og:site_name" content="Hashlog（ハッシュログ）" />
    <meta property="og:image" content="https://hashlog.work/img/ogp.png" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://hashlog.work/img/ogp.png" />
    <meta name="twitter:site" content="Hashlog（ハッシュログ）">
  </head>

  <body>
  <!--
  ###########################################
     _   _            _     _
    | | | | ___  ____| |_  | | ___   ___ _
    | |_| |/ _ `/ __ | '_ \| |/ _ \ /  _` |
    |  _  | (_| \___ \ | | | | (_) |  (_| |
    |_| |_|\__,_|____/_| |_|_|\___/ \___, |
                                    |____/

  ###########################################
  -->
    <div id='app'></div>
    <%= javascript_pack_tag 'application' %>
    <%# <%= stylesheet_pack_tag 'application' %>
  </body>
</html>
